*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
    background: rgb(24, 24, 24);
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}
 

.banner-title{
    color:white;
    display: block;
    text-align: center;
    font: normal bold 5rem/1 "Nunito";
    position: absolute;
    top: 40%;
    right: 50%;
    z-index: 1;
    transform: translate(50%,50%);
    /* color: transparent; */
    background-blend-mode: screen;
}